.statistik-pengguna {
    display: flex;
    flex-direction: row;
    border: 1px solid #198754;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
}
.statistik-pengguna .detail-statistika {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    margin-left: 10px;
}
#total-akun {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}
#detail-statistik {
    font-weight: 600;
    font-size: 15px;
    text-align: left;
}
#total-pengajuan {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}
#detail-statistik-pengajuan {
    font-weight: 600;
    font-size: 15px;
    text-align: left;
}
