body {
    min-height: 100vh;
    margin: 0;
    font-family: "Poppins", sans-serif !important;
}
.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a,
a:link {
    text-decoration: none !important;
    color: white;
}
a.notification,
a:link {
    color: #212529;
}
a.active {
    color: #00b579 !important;
}
a:hover {
    cursor: pointer !important;
    color: #00b579 !important;
    transition: 0.3s;
}
.dropdown-item.active {
    color: white !important;
    background-color: #00b579 !important;
}
.form-control:focus,
.form-check-input:focus {
    border-color: #198754 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0) !important;
}
.form-check-input[type="radio"]:checked {
    background-color: #00b579 !important;
    border-color: #00b579 !important;
}
li.page-item.active {
    background-color: #00b579 !important;
}

.page-link.active,
.active > .page-link {
    background-color: #00b579 !important;
    border-color: #00b579 !important;
}
.desc-footer {
    padding-right: 3rem;
}
@media only screen and (max-width: 991px) {
    .desc-footer {
        padding-right: 0rem;
    }
}
