body {
    min-height: 100vh;
    margin: 0;
    font-family: "Poppins", sans-serif !important;
}
.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a,
a:link {
    text-decoration: none !important;
    color: white;
}
a.active {
    color: #00b579 !important;
}
a:hover {
    cursor: pointer !important;
    color: #00b579 !important;
    transition: 0.3s;
}
